<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Album</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><a routerLink="/admin/product/add">add</a></td>
    </tr>
    <tr *ngFor="let product of this.products">
      <td>{{product.album}}</td>
      <td>{{product.description}}</td>
      <td>€{{product.price}}</td>
      <td><a routerLink="/admin/product/edit">edit</a></td>
    </tr>
    </tbody>
  </table>
</div>
