<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th>Order ID</th>
          <th>Album</th>
          <th>User</th>
          <th>Order date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.id}}</td>
          <td>{{order.album}}</td>
          <td>{{order.username}}</td>
          <td>{{order.orderDate | date:'dd-mm-yyyy HH:mm'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th>Album ID</th>
          <th>Album</th>
          <th>Description</th>
          <th>Price</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a routerLink="/admin/product/add">Add</a></td>
        </tr>
        <tr *ngFor="let product of this.products">
          <td>{{product.id}}</td>
          <td>{{product.album}}</td>
          <td>{{product.description}}</td>
          <td>€{{product.price}}</td>
          <td>
            <a routerLink="/admin/product/{{product.id}}/edit">Edit</a><br />
            <a routerLink="/admin/panel" (click)="deleteProduct(product)">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
