.param {
  margin-bottom: 7px;
  line-height: 1.4;
}
.param-inline dt {
  display: inline-block;
}
.param dt {
  margin: 0;
  margin-right: 7px;
  font-weight: 600;
}
.param-inline dd {
  vertical-align: baseline;
  display: inline-block;
}

.param dd {
  margin: 0;
  vertical-align: baseline;
}

.btn-outline-danger {
  margin-left: 10px;
}

.container {
  margin-top: 110px;
  width: 1000px;
}

.shopping-cart-wrap .price {
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
  display: block;
}
var {
  font-style: normal;
}

.media img {
  margin-right: 1rem;
}
.img-sm {
  width: 90px;
  max-height: 75px;
  object-fit: cover;
}

th {
  padding: 20px;
  padding-right: 45px;
}

.btn {
  margin-right: 10px;
}

.btn-outline-success {
  margin-top: 25px;
  position: relative;
  left: 410px;
  width: 150px;
}

.media {
  margin-top: 35px;
}

.price-wrap {
  margin-top: 35px;
}

.quantity-wrap {
  margin-top: 35px;
}

.btn-outline-danger {
  margin-top: 35px;
}

.quantity-wrap button {
  margin: 10px;
}
