<div class="container">
  <div class="card">
    <table class="table table-hover shopping-cart-wrap">
      <tbody>
      <tr *ngFor="let product of this.cartService.products">
        <td>
          <figure class="media">
            <div class="img-wrap"><img [src]="product.image" class="img-thumbnail img-sm"></div>
            <figcaption class="media-body">
              <h6 class="title text-truncate">{{product.album}}</h6>
              <dl class="param param-inline small">
                <dt>Description: </dt>
                <dd>{{product.description}}</dd>
              </dl>
            </figcaption>
          </figure>
        </td>
        <td>
          <div class="quantity-wrap">
            <button (click)="lowerProductQuantity(product)">-</button>
            {{ product.quantity | number }}
            <button (click)="upProductQuantity(product)">+</button>
          </div>
        </td>
        <td>
          <div class="price-wrap">
            <var class="price">€{{product.price}}</var>
          </div>
        </td>
        <td class="text-right">
          <div (click)="this.cartService.removeProductFromCart(product)" class="btn btn-outline-danger btn-round">Remove</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div (click)="Checkout()" class="btn btn-outline-success">Checkout</div>
</div>

