<div class="container">
  <figure class="card card-product">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="info-wrap">
        <div class="form-group">
          <h6 class="title">Title</h6>
          <input type="text" class="form-control" name="album" [(ngModel)]="product.album" ngModel>
        </div>
        <div class="form-group">
          <h6 class="description">Description</h6>
          <input type="text" class="form-control" name="description" [(ngModel)]="product.description" ngModel>
        </div>
        <div class="form-group">
          <h6 class="price">Price</h6>
          <input type="text" class="form-control" name="price" [(ngModel)]="product.price" ngModel>
        </div>
        <div class="form-group">
          <h6 class="image">Image URL</h6>
          <input type="url" class="form-control" name="image" [(ngModel)]="product.image" ngModel>
        </div>
      </div>
      <div class="bottom-wrap">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </figure>
</div>
